body {
    background-color: rgb(163, 171, 171);
    width: 100%;
    text-align: center;
}

#welcome {
    margin-top: 20px;
    font-size: 60px;
}

a {
    color: rgb(40, 65, 177);
}

#about {
    font-size: 25px;
    padding: 30px 50px 0px 50px;
}

#description {
    font-size: 25px;
    padding: 0px 50px 0px 50px;
}

.project {
    width: 100%;
    text-align: left;
    padding-right: 10px;
    min-height: 300px;
}

.project.light {
    background-color: rgb(240, 240, 240);
}

.project .image {
    width: 280;
    height: 280;
    margin: 10px;
    float: left;
}

.project-desc {
    font-size: 25px;
}